* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-size:62.5%;*/
}
body {

}
container {
    height: 100vh;
    display:grid;
    justify-content: center;
    align-items: center;
}
form-container {
    width: 300px;
    border: solid 1px black;
    border-radius: 10px;
    padding: 20px;
}
form-container h1 {
    text-align: center;
    margin-bottom: 30px ;
}

form-container form > * {
    display: block;
    margin: 10px 0;
}
.box-pp {
    display: flex;
    height: 20px;
}
#pp {
    margin: auto;
    height: 300%;
    transform: translateY(-50px)
}