* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, serif;
    font-size: 20px;
}

screen {
    display: grid;
    height: 100vh;
    padding: 10px;
    grid-template-rows: 50px 1fr 50px;
    row-gap: 10px;

}

header, footer {
    width: 100%;
    height: 100%;
    display: flex;
    border: dotted 1px red;
}
section {
    border: orange solid 1px;
    display: grid;
    gap: 10px;
    /*grid-template-rows: repeat(auto-fit, minmax(300px,1fr));*/
}
article {
    width: 300px;
    display: grid;
}
.card-img{
    width: 100%;
    height: auto;
}
.card-footer {
    display: grid;
    justify-content: center;
}
.name_surname_birth, .card-button {
    margin: 6px;
}
.name_surname_birth {
    justify-self: center;
    padding: 6px 3px;
}
.card-button {
    padding: 15px 5px;
    justify-self: center;
    border: black 1px solid;
    border-radius: 5px;
}
