* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
cadre {
    display: flex;
    margin: 0 auto;
    width: 950px;
    align-content: flex-start;
    height: 550px;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px black
}
#photo {
    max-width: 100%;
    height: 70%;
    border-radius: 15px;
}
p {
    padding-left: 50px;
    font-size: 20px;
}
.gras{
font-weight: bold;
}
@media screen and (max-width: 800px) {
    cadre{
        flex-direction: column;
    }
    screen {
        grid-template-rows: auto 70px 1fr 100px;
    }
    h1 {
        font-size: 1.5em;
    }
    header, nav {
        flex-direction: column;
    }
    nav {
        padding: 0.5rem 0;
        font-size: 1.5rem;
    }
    #logo{
        width: 100%;
        padding: 0 10px;
        margin:0 auto;
    }
    .item {
        font-size: 26px;
        max-width: 100%;
    }
}