@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: 'heroes_legend';
    src: url('src/font/heroes_legend-webfont.woff2') format('woff2'),
    url('src/font/heroes_legend-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
html {
    background-color: #b6b6b6;
}
screen {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 100px 70px 1fr 100px;
    row-gap: 10px;
}
a {
    color: black;
    cursor: pointer;
}
header, footer {
     width: 100%;
     height: 100%;
     display: flex;
     /*border: dotted 1px red;*/
 }
header,nav {
    width: 99.5%;
    display: flex;
    margin: 5px auto;
}
header {
    background: rgb(52, 13, 255);
    background: linear-gradient(170deg, rgb(52, 13, 255) 0%, rgba(44,212,217,1) 100%);
}
#logo {
    padding: 8px;
}
nav {
    flex-wrap: wrap;
    position: relative;
    right: 0;
    justify-content:flex-end;
    align-items: center;
}
.itemActuel
{
    color: orange;
}
.itemNonActuel
{
    color: #ffffff;
}
.item
{
    cursor: pointer ;
    font-size: 35px;
    text-align: center;
    flex:1;
    max-width: 250px;
    margin: 4px 10px ;
    font-family: "Roboto", serif;
    transition: color 300ms;
    font-weight: bold;
}
.item:hover
{
    color: red;
}
@media screen and (max-width: 800px) {
    screen {
        grid-template-rows: auto 70px 1fr 100px;
    }
    h1 {
        font-size: 1.5em;
    }
    header, nav {
        flex-direction: column;
    }
    nav {
        padding: 0.5rem 0;
        font-size: 1.5rem;
    }
    #logo{
        width: 100%;
        padding: 0 10px;
        margin:0 auto;
    }
    .item {
        font-size: 26px;
        max-width: 100%;
    }
}