h1 {
    /*text-align: center;*/
    display: inline;
    align-self: center;
    justify-self: center;
    font-size: 2em;
}
section {
    margin: 15px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(260px,0.2fr));
}
.boxArticle {
    width: 100%;
    display: flex;
    align-items: center;
}
article {
    background-color: #bebebe;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    border: solid 1px black;
    align-items: center;
    grid-template-areas:
    "img img"
    "prenom nom"
    "age date"
    "button button"
    ;
    border-radius: 10px;
}
.card-img{
    grid-area: img;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}
.name,.surname,.birth,.age,.card-button {
    justify-self: center;
    padding: 6px 3px;
}
.name {
    grid-area: prenom;
    text-transform: capitalize;
}
.surname {
    grid-area: nom;
    text-transform: uppercase;
}
.birth {
    grid-area: date;
}
.age {
    grid-area: age;
}
.card-button {
    grid-area: button;
    padding: 15px 10px;
    align-self: center;
    border: black 1px solid;
    border-radius: 5px;
    margin: 10px;
    background-color: #197979;
    transition: background-color 300ms;
}
.card-button:hover {
    background-color: #10dede;
}