table
{
    border-collapse: collapse;
}
td,th
{
    border: solid 1px lightgray;
    padding: 10px;
    text-align: center;
}
th
{
    background: coral;
}
/*td:nth-child(1),td:nth-child(2)*/
/*{*/
/*    font-family: "Heroes Legend", serif;*/
/*}*/
/*td:nth-child(4)*/
/*{*/
/*    background: orange;*/
/*}*/
.flexbox
{
    display: flex;
}
.button,.labelPremium{
    cursor: pointer;
}
.button
{
    margin: 5px;
    padding: 10px;
    color: white;
    background: #ff5c22;
    border-radius: 15px;
    transition: background 300ms;
}
.button:hover{
    background: #fd7e50;
}
.labelPremium
{
    margin: 5px;
    padding: 10px;
    color: black;
    background: #8fec8f;
    border-radius: 15px;
}
