h1,.text,.organigramme {
    margin: 4rem auto;
}
h1 {
    width:max-content;
}
.organigramme {
    text-align: center;
}
p {
    font-size: 2rem;
    text-indent: 1cm;
    text-align: justify;
}
case {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100%;
    align-items: center;

}
.illus {
    width: 100%;
    aspect-ratio: auto 640 / 640;
}
h2 {
    font-size: 3.5rem;
}
h3 {
    font-size: 2.5rem;
}
section {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    width: 100%;
    grid-gap: 2.5rem;
    grid-template-areas:
        "test1 test2 test3"
        "test4 test5 test6"
        "test7 test8 test9"
        "test10 test11 test12";
}