@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size:62.5%;
    font-family: 'Oswald', sans-serif;
}
card {
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius: 15px 0;
    background-color: #d2d1d1;
    box-shadow: 5px 5px 15px #464646;
    padding: 10px;
    grid-template-rows: 17rem 6rem 12rem;
    grid-template-columns: 27rem;
    transition: all 300ms;
    grid-template-areas:
        "image"
        "titre"
        "description"
;
}
card:hover {
    transform: translate(10px,10px);
    box-shadow: 1px 1px 5px;
}
card img
{
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
}
.titre {
    font-size: 3.5rem;
}
.description {
    font-size: 1.8rem;
    text-align: justify;
}