section
{
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    grid-gap: 2rem;
    grid-template-areas:
        ". expertise ."
        "competence competence competence"
        ". titre1 ."
        "presentation presentation presentation"
        ". titre2 ."
        "imageIllustration1 imageIllustration1 legende1"
        "legende2 imageIllustration2 imageIllustration2"
;
}
#img_illus {
    width: 640px;
    aspect-ratio: auto 640 / 640;
}

section h1 {
    text-align: center;
}
.presentation {
    font-size: 2rem;
    text-align: justify;
}
.fondateur {

}
.imageIllustration {
    width: 100%;
    border-radius: 1.5rem;
    border: solid 1px black;
}
.legende {
    font-size: 2.5rem;
    align-self: center;
    justify-self: center;
    text-align: center;
    border-bottom: solid 1px black;
    padding: 0.3rem;
}
cards
{
    display: flex;
    justify-content: space-evenly;
}