h1 {
    width:max-content;
    margin: 4rem auto;
}
h2 {
    font-size: 3rem;
}
input {
    font-size: 2rem;
}
button {
    font-size: 2rem;
}
p {
    font-size: 5rem;
}
.contenair {
    margin: 1rem 0;
    display: flex;
}
input {
    margin: 0 2rem;
    width: 15rem;
}
form {
    display: inline;
}