@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Oswald', sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}
@media screen and (max-width: 50rem) {
    header, nav ul {
        flex-direction: column;
    }

    nav ul li {
        padding: 0.5rem 0;
        font-size: 1.5rem;
    }

    #logo {
        margin-right: auto;
        margin-left: auto;
    }
}
h1 {
    margin: 4rem 0;
    font-size: 4.5rem;
}

body {
    width: 90vw;
    height: 100vh;
    margin: 4vh auto;
    background-color: #e8e8e8;
    /*border: solid 3px red;*/
}

header {
    background-color: #e8e8e8;
    width: 100%;
    border: black 1px solid;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 1rem;
}

#logo {
    padding: 0.5rem;
    height: 100%;
    max-width: 15rem;
}

nav ul {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;
    display: flex;
    height: 100%;
    list-style: none;
}

nav ul li,a {
    display: block;
    margin: 0 1rem;
    font-size: 3rem;
    text-transform: uppercase;
    padding: 1rem 0;
    cursor: pointer;
    text-decoration: none;
    transition: color 300ms;
}

#nav > li:hover {
    color: #645e5e;
}

nav ul ul {
    width: 35rem;
    flex-direction: column;
}

#recherche {
    border-width: .1rem;
    padding-left: 0.2rem;
}

input[type=submit] {
    background-image: url('src/svg/search.svg');
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
    border-color: #e8e8e8;
}

footer {
    background-color: #293133;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    font-size: 3rem;
    margin: 1.5rem auto 0 auto;
    bottom: 0;
    position: -webkit-sticky;
    position: sticky;
    border-radius: 1.5rem 1.5rem 0 0;
}
