@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size:62.5%;
    font-family: 'Oswald', sans-serif;
}
@media screen and (max-width: 50rem) {
    header, nav ul {
        flex-direction: column;
    }
    nav ul li {
        padding: 0.5rem 0;
        font-size: 1.5rem;
    }
    #logo{
        margin-right: auto;
        margin-left: auto;
    }
}
h1 {
    font-size: 4.5rem;
}
body {
    width: 90vw;
    height: 100vh;
    margin: 4vh auto;
    background-color: #e8e8e8;
    /*border: solid 3px red;*/
}
header {
    background-color: #e8e8e8;
    width: 100%;
    border: black 1px solid;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 1rem;
}
#logo {
    padding: 0.5rem;
    height: 100%;
    max-width: 15rem;
}
ul {
    display: flex;
    height: 100%;
    list-style: none;
}
nav ul{
    flex-wrap: wrap ;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;
}
nav ul li {
    display: block;
    margin: 0 1rem;
    font-size: 3rem;
    text-transform: uppercase;
    padding: 1rem 0;
    cursor: pointer;
    transition: color 300ms;
}
#nav > li:hover {
    color: #645e5e;
}
nav ul li ul {
    width: 35rem;
}
#recherche {
    border-width: .1rem;
    padding-left: 0.2rem;
}
input[type=submit]{
    background-image: url('src/svg/search.svg');
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
    border-color: #e8e8e8;
}

section {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    grid-gap: 2rem;
    grid-template-areas:
        ". titre1 ."
        "imgillus1 presentation presentation"
        ". titre2 ."
        "imageIllustration1 imageIllustration1 legende1"
        "legende2 imageIllustration2 imageIllustration2"
        ;
}
#img_illus {
    width: 640px;
    aspect-ratio: auto 640 / 640;
}

section h1 {
    text-align: center;
}
.presentation {
    font-size: 2rem;
    text-align: justify;
}
.fondateur {

}
.imageIllustration {
    width: 100%;
    border-radius: 1.5rem;
    border: solid 1px black;
}
.legende {
    font-size: 2.5rem;
    align-self: center;
    justify-self: center;
    text-align: center;
    border-bottom: solid 1px black;
    padding: 0.3rem;
}