@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/*@media screen and (max-width: 1000px) {*/
/*    header, nav ul {*/
/*        flex-direction: column;*/
/*    }*/
/*    nav ul li {*/
/*        padding: 0.5rem 0;*/
/*        font-size: 1.5rem;*/
/*    }*/
/*    #logo{*/
/*        margin-right: auto;*/
/*        margin-left: auto;*/
/*    }*/
/*}*/
screen {
    display: grid;
    height: 100vh;
    grid-template-rows: 100px 1fr 50px;
    row-gap: 10px;
}
header, footer {
    width: 100%;
    height: 100%;
    display: flex;
    border: dotted 1px red;
}
header {
    background: rgb(83,51,237);
    background: linear-gradient(144deg, rgba(83,51,237,1) 0%, rgba(44,212,217,1) 100%);
}
section {
    border: orange solid 1px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(auto-fit, 400px);
}
article {
    width: 100%;
    height: 450px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: unset;
    border: solid 1px black;
    grid-template-areas:
    "img img"
    "nom prenom"
    "age date"
    "button button"
    ;
}
.card-img{
    width: 100%;
    height: 100%;
}
/*.card-footer {*/
/*    display: grid;*/
/*    justify-content: center;*/
/*}*/
.name_surname_birth, .card-button {
    margin: 6px;
}
.name_surname_birth {
    justify-self: center;
    padding: 6px 3px;
}
.card-button {
    padding: 15px 5px;
    justify-self: stretch;
    align-self: stretch;
    border: black 1px solid;
    border-radius: 5px;
}
