.flexboxContenu{
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 40vw;
    margin: 30px auto;
    /*border: solid 1px white;*/
    flex-direction: column;
}
.flexboxContenu h1,.flexboxContenu p
{
    /*flex:1;*/
    /*display:inline-block;*/
    margin: 0 auto;
    padding: 20px;
    max-height: 100px;
}
.flexboxContenu h1{
    font-size: 50px;
}
.flexboxContenu p{
    font-size: 30px;
}
.flexboxContenu ol
{
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    text-decoration: underline;
    font-weight: bold;
}